.pt-5-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    min-height: 375px;
    overflow: hidden;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.newsdetaititle {
    font-size: 30px;
    color: #006600;
    padding-bottom: 15px;
}