.login-page {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.login-form {
  padding: 20px 40px;
  background-color: white;
  border-radius: 15px;
  border: solid 1px #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-register {
  text-align: center;
  display: block;
  text-transform: capitalize;
  color: black;
}

.link-register:hover {
  text-decoration: underline;
  color: green;
}

.ant-btn-primary:hover {
  background: linear-gradient(
    to right,
    rgba(12, 136, 92, 1),
    rgba(0, 186, 120, 1)
  );
  background-position: 0 100%;
}

.ant-btn-primary:focus {
  background: linear-gradient(
    to right,
    rgba(12, 136, 92, 1),
    rgba(0, 186, 120, 1)
  );
  border-color: linear-gradient(
    to right,
    rgba(12, 136, 92, 1),
    rgba(0, 186, 120, 1)
  );
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: darkgreen;
  border-color: darkgreen;
}
.ant-form-item {
  margin-bottom: 0px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 1280px) {
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1300px) {
}
