.image{
    width: 20px;
    height: 15px;
}

.hoverLink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: white;
}

.hoverLink:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FFFFFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  margin-bottom: 12px;
}

.hoverLink:hover:after { 
  width: 100%; 
  left: 0; 
}

.fixLine{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  max-width: 400px;
  margin: 0 0 1em 0;
  overflow: hidden; 
}

.header-logo{
  display: none;
}

@media screen and (max-width: 480px) {
  .header-text{
    display: none;
  }

  .header-logo{
    display: block;
  }

  .ant-layout-header{
    padding: 0;
    padding-left: 10px;
  }

}

.header {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}

.navmenu {
  display: flex;
  align-items: center;
  width: 100vw;
  white-space: nowrap;
}

.navmenu2 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.navlink {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.navlink2 {
  color: black;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

.navlink2 span {
  color: black;
}

.navlink:hover {
  color: #fff;
}

.navlink:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FFFFFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  margin-bottom: 12px;
}

.navlink:hover:after { 
  width: 100%; 
  left: 0; 
}

.bars {
  display: none;
  color: #fff;
}

.logBtn {
  display: flex;
  align-items: center;
  margin-right: 24px;
  justify-content: flex-end;
  width: 100vw;
}

@media screen and (max-width: 768px) { 
  .navmenu {
    display: none;
  }

  .bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .logBtn {
    display: none;
  }
}

/*dropdownMenu*/

.loginSpan {
  cursor: pointer;
  font-size: 16;
  color: white;
}